<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

  <div class="container animated zoomIn">
      <div class="mr-auto">
        <a class="navbar-brand" (click)="clickMeOnHome ()"><span><img src="assets/images/atomo.svg" style="background-color: #ffd20a;" alt="logo plataforma" width="50"></span></a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="basicExampleNav" >
          <ul id="enlaces-info" class="navbar-nav mr-auto ml-auto smooth-scroll">
              <li class="nav-item">
                  <a class="nav-link" href="#intro">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pricing">Servicios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#team">Colaboradores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#client">Transporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#plans">Planes</a>
              </li>

          </ul>


          <ul id="enlaces-info" class="navbar-nav mr-auto smooth-scroll my-auto">
            <li class="nav-item dropdown mr-3">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/iniciarsesion.png" alt=""> <span>{{ title }}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <ng-container *ngIf="!authService.loggedIn(); else logOut">
                  <a class="dropdown-item" (click)="clickMeLogin()"><img src="assets/images/iniciar-sesion.png" alt=""> Loguearse</a>
                  <a class="dropdown-item" (click)="clickMeRegister()"><img src="assets/images/usuario.png" alt=""> Registrarse</a>
                </ng-container>
                <ng-template #logOut>
                  <a class="dropdown-item" routerLink="main/my-profile"><img src="assets/images/casa.png" alt=""> Menu Principal</a>
                  <a class="dropdown-item" (click)="authService.logOut()"><img src="assets/images/salida.png" alt=""> Cerrar Session</a>
                  <a class="dropdown-item" routerLink="main/settings-user"><img src="assets/images/llave-inglesa.png" alt=""> Configuraciones</a>
                  <a class="dropdown-item" routerLink="main/make-sale"><img src="assets/images/rebaja.png" alt=""> Realizar Venta</a>
                  <a class="dropdown-item" routerLink="main/make-purchase"><img src="assets/images/bolso.png" alt=""> Realizar Compra</a>
                </ng-template>
              </div>
            </li>
            <li class="nav-item mr-2">
              <section style="border-radius: solid 2px #fff;"></section>
              <a class="nav-link" (click)="countShoppingCart()">
                <div>
                  <img src="assets/images/supermercadog.png" alt="" width="35">
                  <img src="assets/images/oval.png" alt="" id="circle-shopping-cart">
                  <span id="count-shopping-cart">{{ shoppingCountNumber }}</span>
                </div>
              </a>
            </li>
        </ul>
      </div>
  </div>
</nav>


