<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

  <div class="container animated zoomIn">
      <div class="ml-auto">
        <a class="navbar-brand" routerLink="/"><span><img src="assets/images/atomo.svg" style="background-color: #ffd20a;" alt="logo plataforma" width="50"></span></a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="basicExampleNav">


          <ul id="enlaces-info" class="navbar-nav mr-auto ml-auto smooth-scroll">
              <li class="nav-item">
                  <a class="nav-link" href="#intro">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#pricing">Servicios</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#team">Colaboradores</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#client">Transporte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#plans">Planes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contactanos</a>
              </li>>
          </ul>


          <ul id="enlaces-info" class="navbar-nav mr-auto smooth-scroll">
            <li class="nav-item">
                <a class="nav-link" href="#intro">Login <img src="assets/images/iniciar-sesion.png" alt=""> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">Registro <img src="assets/images/usuario.png" alt=""></a>
            </li>
        </ul>
      </div>
  </div>

</nav>

<header>
  <div id="intro" class="view" style="background: url('assets/images/fondo.jpg') no-repeat center center fixed; background-size: cover;">

      <div class="mask rgba-black-strong">
          <div class="container-fluid d-flex align-items-center justify-content-center h-100">
              <div class="row d-flex justify-content-center text-center">
                  <div class="col-lg-8 col-sm-12">

                  </div>
                  <div class="col-lg-4 col-sm-12 mx-auto">

                      <!-- Heading -->
                      <h4 id="titulo-cms" class="font-weight-bold white-text pt-5 mb-2 animated jackInTheBox">
                        Vende Tus Productos Aqui y Ahora
                      </h4>

                      <img class="wow fadeInUp" data-wow-delay="0.4" src="assets/images/undraw_Around_the_world_re_n353.svg" alt="shoppin" style="width: 350px;">
                      <!-- Divider -->
                      <hr class="hr-light">

                      <p class="text-white text-center animated fadeInLeft" style="font-weight: bolder;">
                        Enfocados en brindarte un servicio de calidad y con la mas alta eficiencia
                        y seguridad a la hora de vender tus productos. </p>
                      <div class="form-group animated zoomIn">
                        <button type="button" class="btn btn-outline-white btn-block">Explora Ahora</button>
                      </div>
                  </div>

              </div>

          </div>

      </div>
  </div>
</header>
