<div id="settings-container-2" class="container-fluid">
  <div class="row" style="padding-top: 100px;">
    <div class="col-lg-12 col-sm-12">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-header bg-dark text-center" style="color:#FFA000;">
              <h3>Zona Configuraciones de Usuario</h3>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-4 col-sm-12 mb-4 animated flipInY">
                      <div class="card" style="background-color: #FFA000;">
                        <div class="view text-center mx-auto">
                          <img src="assets/images/gmail.png" class="img-fluid" width="180" alt="photo">
                          <a href="#">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <div class="card-body text-center">
                          <!--Title-->
                          <h4 class="card-title white-text">Cambia Tu Correo</h4>
                          <!--Text-->
                          <p class="card-text white-text">
                            En esta zona podras cambiar tu correo electronico con solo dar un lick en el enlace de abajo
                          </p>
                          <a href="#" class="btn btn-light-green btn-lg waves-effect">Realizar Cambio Correo</a>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-4 animated flipInY">
                    <div class="card" style="background-color: #FFA000;">
                      <div class="view text-center mx-auto">
                        <img src="assets/images/contrasena.png" class="img-fluid" width="180" alt="photo">
                        <a href="#">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body text-center">
                        <!--Title-->
                        <h4 class="card-title white-text">Cambia Tu Clave</h4>
                        <!--Text-->
                        <p class="card-text white-text">
                          En esta zona podras cambiar tu clave de ingreso a la plataforma con solo dar un lick en el enlace de abajo
                        </p>
                        <a href="#" class="btn btn-light-green btn-lg waves-effect">Realizar Cambio Clave</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 mb-4 animated flipInY">
                    <div class="card" style="background-color: #FFA000;">
                      <div class="view text-center mx-auto">
                        <img src="assets/images/gallery.png" class="img-fluid" width="180" alt="photo">
                        <a href="#">
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <div class="card-body text-center">
                        <h4 class="card-title white-text">Cambia Tu Fotografia</h4>
                        <p class="card-text white-text">
                          En esta zona podras cambiar tu fotografia a la plataforma con solo dar un lick en el enlace de abajo
                        </p>
                        <a routerLink="/main/change-photography" class="btn btn-light-green btn-lg waves-effect">Realizar Cambio Clave</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" style="background-color: #FFA000;">

            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

