#main-container {
  background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Profile Card styles*/

.contact-card {
  width: 17em;
  height: 25rem;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.125);
  overflow: hidden;
  transition: 0.125s ease-in-out;
  -webkit-transition: 0.125s ease-in-out;
  -moz-transition: 0.125s ease-in-out;
}

.contact-card__header-image {
  width: 100%;
  height: 8em;
  padding-top: 2em;
  background-image: url("https://images.unsplash.com/photo-1525498128493-380d1990a112?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
  background-size: cover;
  background-color: #fafafa;
}
.contact-card__avatar {
  width: 7em;
  height: 7em;
  margin: auto;

  background-size: cover;
  background-color: #eeeeee;
  border-radius: 100%;
}
.contact-card__name {
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 1.125rem;
}
.contact-card__link {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.contact-card__link a {
  color: #424242;
  text-decoration: none;
}
.contact-card__link:hover {
  background-color: #fafafa;
}
.contact-card__footer {
  margin-top: 0.5em;
  padding: 1em 0;
  background-color: #fafafa;
}
.contact-card__footer__link {
  display: inline-block;
  margin-right: 1em;
  font-size: 1.125rem;
  transition: 0.125s ease-in-out;
  -webkit-transition: 0.125s ease-in-out;
  -moz-transition: 0.125s ease-in-out;
}
.contact-card__footer__link a {
  color: #424242;
}
.contact-card__footer__link--dribbble {
  margin-right: 0;
}


/* Post Cards*/

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

[class*="entypo-"] {
	width: 1em;
	height: 1em;
}

a:hover {
	color: #777;
}

.background {

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
}

.background:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#card {
	width: 300px;
	display: inline-block;
	vertical-align: middle;
	background: #F0F0F0;
	border-radius: 3px 3px 4px 4px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid white;

	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.member-infos {
	padding: 10px;
	text-align: left;
	position: relative;
}

h1 {
	margin-bottom: 0.5em;
}

h1 a {
	color: #4083A9;
	font-weight: bold;
	font-size: 1.4em;
}

h1 a:hover {
	color: #205F82;
}

.member-location a:before {
	margin-right: 5px;
}

.member-location {
	text-indent: 2px;
}

.follow,.options {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #D3D3D3;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

	-webkit-box-shadow: 0 2px 0 0 #C0C0C0;
	box-shadow: 0 2px 0 0 #C0C0C0;
	border-radius: 3px;
}

.follow:hover,.options:hover {
	-webkit-box-shadow: 0 1px 0 0 #C0C0C0;
	box-shadow: 0 1px 0 0 #C0C0C0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: bottom;
	margin-bottom: -1px;
}

.member-parameters a {
	display: inline-block;
}

.member-parameters {
	margin-top: 0.5em;
}

.member-photo {
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	right: -16px;
	bottom: -40px;
	z-index: 3;
	width: 80px;
	height: 80px;
}

.member-photo img {
	display: block;
	font-weight: bold;
	border-radius: 50%;
}

.member-socials {
	display: inline-block;
	font-weight: bold;
	vertical-align: bottom;
	line-height: 8px;
}

.member-socials li {
	display: inline-block;
}

.shots-number,.followers {
	font-weight: normal;
	display: block;
	margin-top: 10px;
	font-size: 0.9em;
}

.member-contact {
	position: absolute;
	right: 10px;
	top: 10px;
}

.member-contact li {
	display: inline-block;
	margin-left: 10px;
}

.member-shots {
	height: 0px;
	overflow: hidden;
	border-radius: 0 0px 3px 3px;
	position: relative;

	-webkit-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-moz-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-o-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	-ms-transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
	transition: all 1000ms cubic-bezier(.45,.17,.39,1.39);
}

.shot-comments {
	margin: 0 15px;
}

.shot-stats a:hover span {
	color: #4083A9;
}

.member-shots:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 16%;

	background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0) 100%);
	background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.10) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0) 100%);
	left: 0;
	top: 0;
	z-index: 2;
}



.shot {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	left: -100%;

	-webkit-transition: all 800ms cubic-bezier(.58,-0.67,1,.83);
	-moz-transition: all 800ms cubic-bezier(.58,-0.67,1,.83);
	-o-transition: all 800ms cubic-bezier(.58,-0.67,1,.83);
	-ms-transition: all 800ms cubic-bezier(.58,-0.67,1,.83);
	transition: all 800ms cubic-bezier(.58,-0.67,1,.83);
}

.shot-stats {
	position: absolute;
	left: 10px;
	top: 10px;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	z-index: 2;
}

.shot-stats:after {
	position: absolute;
	content: "";
	width: 110%;
	height: 120%;
	left: -5%;
	top: -5%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 3px;
}

.shot-like.entypo-heart,.shot-comments.entypo-comment,.shot-views.entypo-eye {
	z-index: 1;
	position: relative;
}

.shot-stats a {
	color: #FFF;
}

.shot-stats span:before {
	margin-right: 2px;
}

.member-shots-number {
	padding-right: 6px;
	border-right: 1px solid rgba(0, 0, 0, 0.06);
	margin-right: 6px;
	margin-left: 6px;
}

.shot img {
  width: 80%;
  min-height: 80%;
  /* position: absolute; */
  left: -10%;
}

#next1:checked ~ ul .s1,#next2:checked ~ ul .s2,#next3:checked ~ ul .s3 {
	left: 0;
}

.member-shots label {
	background: #F5F5F5;
	height: 40px;
	width: 40px;
	position: absolute;
	bottom: -20px;
	z-index: 8;
	border-radius: 50%;
	left: 50%;
	margin-left: -20px;
	line-height: 25px;
	cursor: pointer;
	text-align: center;
	text-shadow: 0 1px 0 #FFF;

	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.18);
}

.member-shots input:checked + label + input + label {
	z-index: 10;
}

.member-shots label:nth-of-type(1) {
	z-index: 9;
}

.next:hover {
	color: #777;
}

.wrapper-img {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	cursor: pointer;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.member-photo:hover .wrapper-img {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.member-photo:hover .labelimg {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
    z-index:3;
}

.labelimg {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
	z-index: 1;
	cursor: pointer;

	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	background: #ffb347;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #F0F0F0;
	text-align: center;
	line-height: 80px;
	font-size: 40px;
	border-radius: 50%;

	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

#dropshots:checked ~ .member-shots {
	height: 250px;
}

#dropshots:checked + .member-infos .wrapper-img {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

#dropshots:checked + .member-infos .labelimg {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
    z-index:3;
}


/*Zona de articulos estilizada*/

.wrapper{
  width: 280px;
  height: 480px;
  perspective: 800px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.card-article{
  width: 320px;
  height: 450px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-140px);
  transition: transform 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  cursor: pointer;
}

.card-article > div{
  position: absolute;
  width: 320px;
  height: 450px;
  padding: 34px 21px;
  transition: all 350ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

.front{

  background: #F0C27B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transform: rotateY(0deg) translateZ(160px);
  border-radius: 34px 3px 0 0;
}

.right{
  background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  opacity: 0.08;
  transform: rotateY(90deg) translateZ(160px);
  border-radius: 0 0 3px 34px;
}

.card-article:hover{
  transform: translateZ(-160px) rotateY( -90deg);
}

.card-article:hover .front{
  opacity: 0;
}

.card-article:hover .right{
  opacity: 1;
}

.modifica-este-texto .modifica-este-texto2{
  margin: 0;
  font-size: 38px;
  letter-spacing: -.25px;
  transform: translateX(-44px);
  font-family: 'Sarala';
  font-weight: 700;
}

.modifica-este-texto2{
  font-size: 21px;
  transform: translateX(-34px);
}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

span {
  opacity: .55;
}

.article-img{
  transform-origin: top right;
  transition: transform 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transition-delay: 100ms;
  transform: translateX(21%) rotateZ(13deg) skewX(3deg);
  pointer-events: none;
}

.img-wrapper{
  animation: float 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate;
  position: absolute;
  top: 0; right: 0;
  pointer-events: none;
  backface-visibility: hidden;
}

@keyframes float{
  0%{
    transform: translateZ(20px);
  }
  100%{
    transform: translateY(-21px) translateX(-13px) translateZ(30px);
  }
}

.card-article:hover ~ .img-wrapper .article-img{
  transform: scale(0.9) translateX(77%) translateY(90%) rotateZ(80deg);
}

ul{
  margin-left: 21px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}

li{
  padding-bottom: 8px;
  position: relative;
}

li:before{
  content: 'x';
  position: absolute;
  left: -21px;
  opacity: .55;
}

button{
  position: absolute;
  right: 21px;
  bottom: 34px;
  border: none;
  box-shadow: none;
  background: none;
  color: inherit;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -.25px;
  font-weight: 700;
  padding: 13px 34px;
  border-radius: 55px 55px 21px 55px;
  background-image: linear-gradient(130deg, rgba(117,51,165,1)  50%, rgba(51,46,57,.89) 100%);
  background-size: 125% 100%;
  background-position: right;
  cursor: pointer;
  box-shadow: 8px 5px 13px rgba(34,34,34,.08);
  transform: scale(0) skewY(13deg);
  transition: all 150ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
  transform-origin: right bottom;
}

.card-article:hover button{
  transform: scale(1) skewY(0);
}

.card-article:not(:hover) button{
opacity: 0;
}

button:hover{
  background-position: left;
}

.price{
  position: absolute;
  bottom: 34px;
  left: 21px;
  font-size: 34px;
  opacity: .34;
}

@keyframes fadeIn{
  0%{
    opacity: 0.33;
    transform: scale(.89);
  }
}

































.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper-profile {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;

  display: flex;

}
@media screen and (max-width: 768px) {
  .wrapper-profile {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: .1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: .1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all .3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #6944ff;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}
.profile-card-social__item.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}
.profile-card-social__item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card-social__item.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}
.profile-card-social__item.github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card-social__item.codepen {
  background: linear-gradient(45deg, #324e63, #414447);
  box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}
.profile-card-social__item.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}
.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card__button.button--blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.profile-card__button.button--gray {
  box-shadow: none;
  background: #dcdcdc;
  color: #142029;
}
.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  transition: all .3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all .3s;
}
