<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h4 class="wow fadeInUp">Contactenos</h4>
        <p><i class="fa fa-home" aria-hidden="true"></i> Tegucigalpa MDC , Boulevard Suyapa</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> empresa@example.com</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +504 888 888 888</p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> www.unah.com</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>Nosotros</h4>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Sobre Nosotros</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacidad</p>
        <p><i class="fa fa-square-o" aria-hidden="true"></i> Terminos & Condicion</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <h4>Stay in touch</h4>
        <i class="social fa fa-facebook" aria-hidden="true"></i>
        <i class="social fa fa-twitter" aria-hidden="true"></i>
        <i class="social fa fa-linkedin" aria-hidden="true"></i>
        <i class="social fa fa-pinterest" aria-hidden="true"></i>
        <i class="social fa fa-youtube" aria-hidden="true"></i>
        <i class="social fa fa-github" aria-hidden="true"></i><br><br>
        <input type="email" placeholder="Subscribe For Updates">
        <br>
        <button class="btn btn-success">Suscribete en nuestras redes sociales</button>
      </div>
    </div>
  </div>
</div>
