<div class="container-fluid" style="min-height: 110vh;">
  <div class="row">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 cols-sm-12">
          <div class="card" style="margin-top: 150px;">
            <div class="card-header text-white text-center bg-warning">
              <h3>Realizar Busqueda</h3>
            </div>
            <div class="card-body bg-dark">
              <div class="row">
                <div class="col-lg-9 col-sm-12">
                  <input type="text" name="" id="" class="form-control" placeholder="Explora Ahora">
                </div>
                <div class="col-lg-2 col-sm-12 ml-auto mr-auto">
                  <input type="button" value="Buscar" class="btn btn-success btn-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-4" *ngFor="let article of listaArticulos">
          <div class="card animated fadeInDown" >
              <img src="{{ article.articlePhoto }}" class="card-img-top" alt="">
              <div class="card-body">
                  <h5 class="card-title text-center">
                      {{ article.article }}
                  </h5>
                  <strong>Categoria: </strong> <br>
                  <p class="card-text">

                    {{ article.category }}
                  </p>
                  <strong>Descripcion: </strong>
                  <p class="card-text">

                    {{ article.description }}
                  </p>
                  <p>
                    Publicador
                    <strong>{{ article.emailUser }}</strong>
                  </p>
                  <br>
                  <a href="#" class="btn btn-primary btn-block">
                      Mostrar mas Detalles
                  </a>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
